.image{
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(../../resources/admin-login.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.global{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form{
    border: 0px;
    background-color: rgba(0,0,0,0.0);
}
.body{
    padding: 60px;
    background-color: rgba(62, 31, 199,0.7);
    border: 2px #ccc solid;
    border-radius: 30px;

}

.text-center{
    color: azure;
    font-weight: 600;
}